streamlit
neo4j
pandas
faiss-cpu
sentence-transformers
torch
python-dotenv
pyvis
groq
datasets
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
fuzzywuzzy
python-Levenshtein
